<div>
  <%= card.company %>
  <%= card.amount %>
  <%= card.credit_card_number %>

  <%= link_to edit_card_path(card), remote: true do %>
    <button>Edit</button>
  <% end %>

  <%= link_to card, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
    <button>Delete!</button>
  <% end %>
</div>