<%= form_for @card, remote: true do |f| %>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :credit_card_number %><br>
    <%= f.text_field :credit_card_number %>
  </div>
    <!--<div class="field">-->
      <%#= f.label :add_credit %><br>
      <!--<%#= f.text_field :add_credit %>-->
    <!--</div>-->
    <div class="field">
      <%= f.label :remove_credit %><br>
      <%= f.text_field :remove_credit %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
