<p id="notice"><%= notice %></p>

<p>
  <strong>Issuer:</strong>
  <%= @card.company %>
</p>

<p>
  <strong>Card Number:</strong>
  <%= @card.credit_card.display_number %>
</p>

<p>
  <strong>Remaining Amount:</strong>
  <%= @card.amount %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>